{
  "presets": ["es2015", "react"],

  "plugins": [
    // es3关键词
    // https://babeljs.io/docs/plugins/transform-es3-property-literals/
    "transform-es3-property-literals",
    // es3关键词表达式
    // https://babeljs.io/docs/plugins/transform-es3-member-expression-literals/
    "transform-es3-member-expression-literals"
  ]
}